{% extends 'base.html.twig' %}

{% block title %}Add | Course{% endblock %}

{% block body %}
<div class = "d-flex justify-content-center p-3">
  <div class = "w-75">
    <form action="/profile" method="post" enctype="multipart/form-data">
      <h1>You can add cources</h1>
      <dl>
        <dt>Currently available slot for the courses</dt>
       <dd>
          <select name="courseName" id="name" class = "form-select">
            {# <option value="">Select one from the following list</option> #}
            <option value="c">C</option>
            <option value="c++">C++</option>
            <option value="c#">C#</option>
            <option value="python">Python</option>
            <option value="java">Java</option>
            <option value="javascript">JavaScript</option>
            <option value="typescript">TypeScript</option>
          </select>
        </dd>
        <dd class = "error-msg">
          {% if subExist is defined %}
            {{ subExist }} is already added please select another!!!
          {% endif %}
        </dd>

        <dt>Enter description about this course</dt>
        <dd>
          <textarea name="courseDesc" id="desc" cols="30" rows="10" class = "form-control" required></textarea>
        </dd>
        <dd class = "error-msg"></dd>

        <dt>Excepted duration of this course</dt>
        <dd>
          <input type="text" name = "courseDuration" id = "duration" required class = "form-control">
        </dd>
        <dd class = "error-msg"></dd>

        <dt>How many slots you have</dt>
        <dd>
          <input type="text" name = "courseSlots" id = "slots" required class = "form-control">
        </dd>
        <dd class = "error-msg"></dd>

        <dt>Please upload thumbnail of your course</dt>
        <dd>
          <input type="file" name="courseImage" id="image" required class = "form-control">
        </dd>
        <dd class = "error-msg">
          {% if imageTypeError is defined %} {{ imageTypeError }} {% endif %}
        </dd>

        <dt>Please enter prefer name which can display on site</dt>
        <dd>
          <input type="text" name = "adminName" id = "adminName" required class = "form-control">
        </dd>
        <dd class = "error-msg"></dd>

        <dd>
          <button name="submitCourse" id="submitBtn" onclick="confirmAdmin()" class = "btn btn-primary w-100 p-1">
            Add course
          </button>
        </dd>

        <dd>
          <a href="/profile">Go back</a>
        </dd>
      </dl>
    </form>
  </div>
</div>
{% endblock %}
