{% extends 'base.html.twig' %}

{% block title %}C# | Language{% endblock %}

{% block body %}
  <h1>Welcome to the C# roadmap</h1>

  <div>
    {% if decription is defined %}
      {{ decription }}
    {% endif %}
  </div>

  <div>
    {% if courseBlogging is defined %}
      {% for details in courseBlogging %}
        <ul>
          <li>{{details.contentDesc}}</li>
          <li>
            <a href="{{details.contentLink}}">Use fulll link</a>
          </li>
          <li>Author of this blog : {{details.authorName}}</li>
        </ul>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
