{% extends 'base.html.twig' %}

{% block title %}Change | Password{% endblock %}

{% block body %}
<div class = "d-flex justify-content-center p-3">
  <div class = "w-75">
    <form action="/change" method="post">
      <h1>Change your old password</h1>
      <dl>
        <dt>Enter your old Password</dt>
        <dd>
          <input type="password" name="oldPassword" id="pwd" required class = "form-control"
          onblur="checkPasswordStatus()" placeholder=""
          value="{% if userData.oldPassword is defined %}{{ userData.oldPassword }}{% endif %}"
          >
        </dd>
        <dd id="pwd_success" class="success-msg"></dd>
        <dd id="pwd_status" class="error-msg"></dd>
        <dt>Enter New Password</dt>
        <dd>
          <input type="password" name="newPassword" id="pwd" required class = "form-control"
          onblur="checkPasswordStatus()" placeholder=""
          value="{% if userData.newPassword is defined %}{{ userData.newPassword }}{% endif %}"
          >
        </dd>
        <dd id="pwd_success" class="success-msg"></dd>
        <dd id="pwd_status" class="error-msg"></dd>
        <dt>Confirm Your Password</dt>
        <dd>
          <input type="password" name="cnfPassword" id="cnfPwd" required class = "form-control"
          onblur="confirmPassword()" placeholder=""
          value="{% if userData.cnfPassword is defined %}{{ userData.cnfPassword }}{% endif %}"
          >
        </dd>
        <dd id="cnfPwd_status" class="error-msg"></dd>
        <dd class="error-msg">
          {% if invalidPassword is defined %}{{ invalidPassword }}{% endif %}
        </dd>
        <dd>
          <button name="changePwd" id="submitBtn" class = "btn btn-primary w-100">
            Change Password
          </button>
        </dd>
      </dl>
    </form>
  </div>
</div>
{% endblock %}
